/* Space out content a bit */
body {

}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron div{
    text-align: center;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*fonts*/

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/AvenirNextLTPro-Regular.eot?') format('eot'),
	     url('../fonts/AvenirNextLTPro-Regular.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
	     url('../fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'),
	     url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
       font-weight: bold;
       font-style: normal;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/AvenirNextLTPro-Demi.eot?') format('eot'),
	     url('../fonts/AvenirNextLTPro-Demi.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'),
	     url('../fonts/AvenirNextLTPro-Demi.ttf')  format('truetype'),
	     url('../fonts/AvenirNextLTPro-Demi.svg#AvenirNextLTPro-Demi') format('svg');
       font-weight: 400;
       font-style: normal;
}

@font-face {
	font-family: 'AvenirNext';
	src: url('../fonts/AvenirNextLTPro-Bold.eot?') format('eot'),
	     url('../fonts/AvenirNextLTPro-Bold.otf')  format('opentype'),
	     url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
	     url('../fonts/AvenirNextLTPro-Bold.ttf')  format('truetype'),
	     url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
       font-weight: bold;
       font-style: normal;
}

/*typography*/
body {
  font-family: "AvenirNext";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "AvenirNext";
  color: #00457c;
}


p {
  font-family: "AvenirNext";
}

a {
  color: #00457c;
}

/*navbar*/
.navbar {
  min-height: 80px;
}
.navbar-default {
  background: #fff;
  border-color: #00457c;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #00457c;
}

.navbar-toggle {
  display: none;
}

.navbar h1 {
  margin: 0;
}
.navbar-default .navbar-brand {
  color: #00457c;
  font-size: 24px;
  height: 80px;
  line-height: 55px;
  font-weight: bold;
}

.navbar-default .navbar-brand img {
  margin-right: 10px;
}

.welcome {
  font-size: 16px;
  text-align: left;
  color: #00457c;
}

.btn-group button span {
  font-size: 12px;
}

.capital {
  margin-bottom: 20px;
  font-size: 14px;
}

.entrepreneur {
  margin-bottom: 30px;
}
div.investment-buttons{
  margin-top:15px;
}

.label {
  padding-top: 6px;
  font-weight: normal;
}
.investment {
  font-size:32px;
  vertical-align: middle;
  padding-left: 1em;
    color:#777;

}

.jumbotron {
  text-align: left;
}

h3.round {
  margin-top: 0;
  margin-bottom: 20px;
}
span.team-name{
  font-size: 24px;
}
span.premoney{
  color:#777;
}