<p>Welcome investor! Please tell us about yourself.</p>
<div>
	<form role="form">
		<input class="form-control" type="text" ng-model="me.name" name="name" placeholder="Your name">
	</form>
</div>

<div ng-switch="tank.currentRound">
  <div ng-switch-when="-1">
  	<p>
		The competition will begin soon. Current Round == {{tank.currentRound}}
	</p>
  </div>
  <div ng-switch-when="0">
  	<h3>Round 1: Angel investment round</h3>
  	<div>Capital to invest = {{getRemainingCapital()}}</div>
  	<div ng-repeat="entrepreneur in tank.entrepreneurs">
  		<div>{{entrepreneur.name}}</div>
  		<div class="input-group">
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" ng-click="changeInvestment(entrepreneur.urlSlug, false)">
                  <span class="glyphicon glyphicon-minus"></span>
              </button>
          </span>
          <span>{{me.investments[tank.currentRound][entrepreneur.urlSlug].amount || 0}}</span>
          <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number" ng-click="changeInvestment(entrepreneur.urlSlug, true)">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
          </span>
      </div>
  	</div>
  </div>
  <div ng-switch-when="1">rounding stinking 2</div>
  <div ng-switch-when="2">rounding stinking 3</div>
  <div ng-switch-default>woot</div>
</div>